﻿@{
    ViewBag.Title = "E-Books";
}
<h2>Welcome to E - books App!</h2>

<p>
    This application allows users to create, edit and publish e-books.
</p>
<address>
    Unska 3<br />
    Hrvatska, ZG 10 000<br />
    Phone <br />
    01 0000 000
</address>
<address>
    <strong>Support:</strong>   <a href="ivica.boticki@fer.hr">ivica.boticki@fer.hr</a><br />
    <strong>Marketing:</strong> <a href="ivica.boticki@fer.hr">ivica.boticki@fer.hr</a>
</address>

