﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>E - BOOK APPLICATION</h1>
    <p class="lead">E-Book Application is a free web site for publishing and editing e - books.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>LOG IN</h2>
        <p>
            Already registered? Log in for more options!
        </p>
       @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </div>
    <div class="col-md-4">
        <h2>REGISTER</h2>
        <p>
            Not registered yet? In just a few minutes get all options that are not available to Guests.
        </p>
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
    </div>
    <div class="col-md-4">
        <h2>SIGN IN AS GUEST</h2>
        <p>
            Just wanna look around? Sign in as Guest. Guests have limited options.
        </p>
        @Html.ActionLink("Sign in as Guest", "Index", "GuestView")
    </div>
</div>