﻿@model IEnumerable<ePub.eBook>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New eBook", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
           Created
        </th>
        <th>
            
        </th>
        <th>
            Last Modified
        </th>
        <th>
            
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModificationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User1.Username)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.eBookId }) |
                @Html.ActionLink("Chapters", "Index", "Chapters", new { bookId = item.eBookId }, null) |
                @Html.ActionLink("Export", "Export", new { id = item.eBookId }) | 
                @Html.ActionLink("Delete", "Delete", new { id = item.eBookId })
            </td>
        </tr>
    }

</table>
