﻿@model ePub.Chapter

@{
    ViewBag.Title = "Create new chapter";
}



<head>
    <script type="text/javascript" src="@Url.Content("~/ckeditor/ckeditor.js")"></script>
    <script type="text/javascript" src="@Url.Content("/ckeditor/adapters/jquery.js")"></script>
</head>
<body>
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <p>
                <h2>Chapter @ViewBag.ChapterNumber </h2>
            </p>
            <div class="form-group">
                @Html.LabelFor(model => model.ChapterNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ChapterNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ChapterNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-10">
                @Html.TextAreaFor(model => model.html, new { @class = "ckeditor", @id = "editor1" })
                @Html.ValidationMessageFor(model => model.html, "", new { @class = "text-danger" })
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn pull-right" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index", "Chapters", new { bookId = ViewBag.BookId }, null)
    </div>
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script language="javascript" type="text/javascript"> 
        jQuery(".ckeditor").ckeditor();
    </script>
}

