﻿@model ePub.Chapter

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this chapter?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Chapter Number:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChapterNumber)
        </dd>

        <dt>
            Created:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>

        <dt>

        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            Last Modified:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User1.Username)
        </dd>

        <dt>

        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModificationDate)
        </dd>

        <dt>
            E-book:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eBook.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Cancel", "Index", "Chapters", new { bookId = ViewBag.BookId }, null)
        </div>
    }
</div>
