﻿@model ePub.Chapter

@{
    ViewBag.Title = "Details";
}


<h2>Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Chapter Number:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChapterNumber)
        </dd>

        <dt>
            Created:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>

        <dt>
            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            Last Modified:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User1.Username)
        </dd>

        <dt>
            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModificationDate)
        </dd>

        <dt>
            E-book:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eBook.Name)
        </dd>


        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChapterId }) |
    @Html.ActionLink("Back to Chapter List", "Index", "Chapters", new { bookId = ViewBag.id }, null)
</p>
