﻿@model ePub.Chapter

@{
    ViewBag.Title = "Edit";
}

<head>
    <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
</head>

<h2>Edit Chapter</h2>

<div>
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <h3><b>@ViewBag.ebookName</b></h3>
            <h4>Chapter @ViewBag.ChapterNumber </h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ChapterId)
            @Html.HiddenFor(model => model.eBookId)
            @Html.HiddenFor(model => model.CreatedBy)
            @Html.HiddenFor(model => model.CreationDate)
            

            <div class="form-group">
                @Html.LabelFor(model => model.ChapterNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ChapterNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ChapterNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-10">
                @Html.TextAreaFor(model => model.html, new { @class = "ckeditor", @id = "editor1" })
                @Html.ValidationMessageFor(model => model.html)
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn pull-right" />
                </div>
            </div>
        </div>
    }
</div>
<div>
    @Html.ActionLink("Back to Chapters", "Index", "Chapters", new { bookId = ViewBag.id }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
