﻿@model IEnumerable<ePub.Chapter>

@{
    ViewBag.Title = "Index";
}

<h2><b>@ViewBag.eBookName</b></h2>

<p>

    @Html.ActionLink("Create New Chapter", "Create", new { bookId = ViewBag.ebookId }, null)
</p>
<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            Content preview (html)
        </th>
        <th>
            Created 
        </th>
        <th>
           
        </th>
        <th>
            Last modified
        </th>
        <th>
            
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChapterNumber)
            </td>
            <td>
                @if(item.html.Length > 43)
                {
                    var contentBeginning = item.html.Substring(0, 40) + "...";
                    @contentBeginning
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.html)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModificationDate)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.User1.Username)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ChapterId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ChapterId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ChapterId })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Back to eBooks", "Index", "eBooks")