﻿@model ePub.eBook

@{
    ViewBag.Title = "Details";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>eBook</h4>
        <br />
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreationDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreationDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModificationDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModificationDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User.UserId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.UserId)
            </dd>


        </dl>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
