﻿
@{
    ViewBag.Title = "Export";
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Preview</title>
</head>
<body>
    <div>
        <h4>eBook</h4>
        <br />
        <hr />
        <dl class="dl-horizontal"></dl>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
