﻿@model IEnumerable<ePub.eBook>

@{
    ViewBag.Title = "Index";
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <br /><br /><br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModificationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.UserId)
            </th>
            <th>
                Options
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModificationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserId)
                </td>

                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.eBookId }) |
                    @Html.ActionLink("Preview", "Preview", new { id = item.eBookId }) |
                    @Html.ActionLink("Export", "Export", new { id = item.eBookId })
                </td>
            </tr>
        }

    </table>
</body>
</html>
